body {
    /* background-color: darkcyan; */
    background-image: url(https://cdn.wallpapersafari.com/17/41/jsMob7.jpg);
}


h1 {
    /* font-family: sans-serif; */
    font-size: 250px;
    /* text-align: center; */
    /* font-weight: bolder; */
    /* background-color: rgb(35, 35, 68);;
    color: rgb(232, 232, 255); */
    padding: 0px;
    margin: 0px;
    /* opacity: .5; */
}

.main {
    font-size: 100px;
    margin-top: 70px;


}

div:hover {
    opacity: 1;

}

div {
    background-color: rgb(35, 35, 68);;
    color: rgb(232, 232, 255);
    font-family: sans-serif;
    /* font-size: 250px; */
    text-align: center;
    font-weight: bolder;
    opacity: .5;
    
}